# Numpy

In [1]:
import numpy as np

# Energy consumption in MWh for different renewable sources: Solar, Wind, Hydropower, Geothermal, Biomass
energy_consumption = np.array([1200, 3400, 2900, 1800, 2500])

# Print the array
print("Energy Consumption (in MWh) for Different Renewable Sources:")
print(energy_consumption)

Energy Consumption (in MWh) for Different Renewable Sources:
[1200 3400 2900 1800 2500]

In [2]:
summ = np.sum(energy_consumption)
length = np.shape(energy_consumption)[0]
avg = np.average(energy_consumption)
mean = np.mean(energy_consumption)
maxi = np.max(energy_consumption)
mini = np.min(energy_consumption)
std = np.std(energy_consumption)
print(summ/length)
print(avg)
print(mean)
print(length)
print(maxi)
print(mini)
print(std)

2360.0
2360.0
2360.0
5
3400
1200
781.2809993849844

In [3]:
reshaped = energy_consumption.reshape(5,1)
print(f"General: {energy_consumption}")
print(f"Genreal with shape: {energy_consumption.shape}")
print(f"Genreal with dimensions: {energy_consumption.ndim}")
print("="*30)
print(f"Reshaped: {reshaped}")
print(f"Reshaped with shape: {reshaped.shape}")
print(f"Reshaped with dimensions: {reshaped.ndim}")

General: [1200 3400 2900 1800 2500]
Genreal with shape: (5,)
Genreal with dimensions: 1
==============================
Reshaped: [[1200]
 [3400]
 [2900]
 [1800]
 [2500]]
Reshaped with shape: (5, 1)
Reshaped with dimensions: 2

# Pandas

In [4]:
import pandas as pd

In [6]:
df = pd.DataFrame([energy_consumption], columns=["Solar", "Wind", "Hydropower", "Geothermal", "Biomass"])

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
# Sample renewable energy sources data
renewable_sources = ["Solar", "Wind", "Hydropower", "Geothermal", "Biomass"]

# Sample green technology project data (for DataFrame)
data = {
    "Project": ["Solar Farm A", "Wind Turbine X", "Hydropower Y", "Solar Roof Z", "Geothermal Plant P"],
    "Technology": ["Solar", "Wind", "Hydropower", "Solar", "Geothermal"],
    "Capacity (MW)": [150, 300, 200, 50, 100],  # Megawatts
    "Cost (Million $)": [200, 400, 350, 100, 250],  # Project cost
    "Location": ["California", "Texas", "Washington", "Nevada", "Idaho"],
    "Completion Year": [2023, 2024, 2022, 2025, 2023]
}
series = pd.Series(renewable_sources)
print(series)
df = pd.DataFrame(data=data)
df

0         Solar
1          Wind
2    Hydropower
3    Geothermal
4       Biomass
dtype: object

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year
0,Solar Farm A,Solar,150,200,California,2023
1,Wind Turbine X,Wind,300,400,Texas,2024
2,Hydropower Y,Hydropower,200,350,Washington,2022
3,Solar Roof Z,Solar,50,100,Nevada,2025
4,Geothermal Plant P,Geothermal,100,250,Idaho,2023

In [13]:
df['Project']

0          Solar Farm A
1        Wind Turbine X
2          Hydropower Y
3          Solar Roof Z
4    Geothermal Plant P
Name: Project, dtype: object

In [ ]:
df[df['Capacity (MW)'] > 100]

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year
0,Solar Farm A,Solar,150,200,California,2023
1,Wind Turbine X,Wind,300,400,Texas,2024
2,Hydropower Y,Hydropower,200,350,Washington,2022

In [21]:
import pandas as pd

# Sample renewable energy sources data
renewable_sources = ["Solar", "Wind", "Hydropower", "Geothermal", "Biomass"]

# Sample green technology project data (for DataFrame)
data = {
    "Project": ["Solar Farm A", "Wind Turbine X", "Hydropower Y", "Solar Roof Z", "Geothermal Plant P"],
    "Technology": ["Solar", "Wind", "Hydropower", "Solar", "Geothermal"],
    "Capacity (MW)": [150, 300, 200, 50, 100],  # Megawatts
    "Cost (Million $)": [200, 400, 350, 100, 250],  # Project cost
    "Location": ["California", "Texas", "Washington", "Nevada", "Idaho"],
    "Completion Year": [2023, 2024, 2022, 2025, 2023]
}


# Create a Pandas Series for renewable energy sources
renewable_series = pd.Series(renewable_sources)

# Print the Series
print("Renewable Energy Sources:")
print(renewable_series)

Renewable Energy Sources:
0         Solar
1          Wind
2    Hydropower
3    Geothermal
4       Biomass
dtype: object

In [23]:
# Create a DataFrame for green technology projects
projects_df = pd.DataFrame(data)

# Print the DataFrame
print("\nGreen Technology Projects DataFrame:")
print(projects_df)

Green Technology Projects DataFrame:
              Project  Technology  Capacity (MW)  Cost (Million $)  \
0        Solar Farm A       Solar            150               200
1      Wind Turbine X        Wind            300               400
2        Hydropower Y  Hydropower            200               350
3        Solar Roof Z       Solar             50               100
4  Geothermal Plant P  Geothermal            100               250

     Location  Completion Year
0  California             2023
1       Texas             2024
2  Washington             2022
3      Nevada             2025
4       Idaho             2023

In [25]:
# Access the 'Project' column
print("\nList of Projects:")
print(projects_df["Project"])

List of Projects:
0          Solar Farm A
1        Wind Turbine X
2          Hydropower Y
3          Solar Roof Z
4    Geothermal Plant P
Name: Project, dtype: object

In [29]:
# Filter projects with capacity greater than 100 MW
high_capacity_projects = projects_df[projects_df["Capacity (MW)"] > 100]

print("\nProjects with Capacity Greater than 100 MW:")
high_capacity_projects

Projects with Capacity Greater than 100 MW:

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year,Cost per MW
0,Solar Farm A,Solar,150,200,California,2023,1.333333
1,Wind Turbine X,Wind,300,400,Texas,2024,1.333333
2,Hydropower Y,Hydropower,200,350,Washington,2022,1.750000

In [28]:
# Add a new column for cost per MW
projects_df["Cost per MW"] = projects_df["Cost (Million $)"] / projects_df["Capacity (MW)"]

print("\nDataFrame with Cost per MW:")
projects_df

DataFrame with Cost per MW:

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year,Cost per MW
0,Solar Farm A,Solar,150,200,California,2023,1.333333
1,Wind Turbine X,Wind,300,400,Texas,2024,1.333333
2,Hydropower Y,Hydropower,200,350,Washington,2022,1.750000
3,Solar Roof Z,Solar,50,100,Nevada,2025,2.000000
4,Geothermal Plant P,Geothermal,100,250,Idaho,2023,2.500000

In [30]:
# Aggregate the total capacity and cost
total_capacity = projects_df["Capacity (MW)"].sum()
total_cost = projects_df["Cost (Million $)"].sum()

print(f"\nTotal Capacity of all projects: {total_capacity} MW")
print(f"Total Cost of all projects: ${total_cost} million")

Total Capacity of all projects: 800 MW
Total Cost of all projects: $1300 million

In [32]:
# Group by 'Technology' and calculate total capacity for each type
grouped_data = projects_df.groupby("Technology")["Capacity (MW)"].sum()

print("\nTotal Capacity by Technology:")
print(grouped_data)

Total Capacity by Technology:
Technology
Geothermal    100
Hydropower    200
Solar         200
Wind          300
Name: Capacity (MW), dtype: int64