In [4]:

import pandas as pd
import json

# Load JSON file
file = "../data/JSON-1.json"
with open(file, "r") as f:
    data = json.load(f)

# Extract the 'feeds' data (actual measurements)
feeds_df = pd.DataFrame(data["feeds"])

# Optional: Rename field1 to something meaningful using channel metadata
feeds_df = feeds_df.rename(columns={"field1": data["channel"]["field1"]})

# Save to CSV
feeds_df.to_csv("air_quality_data.csv", index=False)

print("CSV file saved as air_quality_data.csv")

CSV file saved as air_quality_data.csv

In [7]:
feeds_df

              created_at  entry_id Air quality PM2.5 [Âµg/m3]
0   2025-07-23T00:44:10Z    332500                        1.9
1   2025-07-23T00:56:13Z    332501                        2.0
2   2025-07-23T01:08:16Z    332502                        1.6
3   2025-07-23T01:20:19Z    332503                        1.8
4   2025-07-23T01:32:22Z    332504                        1.5
..                   ...       ...                        ...
95  2025-07-23T19:50:10Z    332595                        1.7
96  2025-07-23T20:02:14Z    332596                        1.5
97  2025-07-23T20:14:18Z    332597                        2.0
98  2025-07-23T20:26:22Z    332598                        2.1
99  2025-07-23T20:38:26Z    332599                        1.6

[100 rows x 3 columns]